PORT=
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
LOG_LEVEL= #info in prod, debug in dev
ENV= #production in prod/staging, development in dev
REDIS_URL=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
EMAIL_FROM=